.header {
  width: 100px;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  box-sizing: border-box;
}
.logo {
  width: 49px;
  height: 40px;
  background: url(../../../public/logo.svg) no-repeat;
  display: block;
  overflow: hidden;
  text-indent: -9999999999999px;
}
.menu__item {
  display: block;
  width: 49px;
  height: 49px;
  margin-top: 22px;
  overflow: hidden;
  text-indent: -99999999999px;
}
.menu__item_cian {
  background: url(../../../public/img/cian.svg) no-repeat 50%;
  background-size: 27px;
}
.menu__item_cian:hover {
  background: url(../../../public/img/cian-active.svg) no-repeat 50%;
  background-size: 27px;
}
.menu__item_cian.active {
  background: url(../../../public/img/cian-active.svg) no-repeat 50%;
  background-size: 27px;
}
.menu__item_direct.active {
  background: url(../../../public/img/direct-active.svg) no-repeat 50%;
  background-size: 21px;
}
.menu__item_direct {
  background: url(../../../public/img/direct.svg) no-repeat 50%;
  background-size: 21px;
}
.menu__item_direct:hover {
  background: url(../../../public/img/direct-active.svg) no-repeat 50%;
  background-size: 21px;
}
.menu__item_avito.active {
  background: url(../../../public/img/avito-active.svg) no-repeat 50%;
  background-size: 27px;
}
.menu__item_avito {
  background: url(../../../public/img/avito.svg) no-repeat 50%;
  background-size: 27px;
}
.menu__item_avito:hover {
  background: url(../../../public/img/avito-active.svg) no-repeat 50%;
  background-size: 27px;
}
