.filters__wrapper {
  margin-bottom: 15px;
  max-width: 970px;
  text-align: right;
}
.input__search {
  width: 300px;
}
.addButton {
  background: #1b1b1b;
}
.addButton:hover {
  background: #272727 !important;
}
.block {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}

.block.visible {
  height: 250px;
  max-width: 970px;
}
.filters__top {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px;
}
